.item-list{
    list-style-type: none;
    padding: 0px;
    
    
}

.item-list li{
    background-color: white;
    color: violet;
    box-shadow: 0 1px 3px black;
    padding: 30px;
    margin-bottom: 10px;
   
    
}

.item-list span{
    color: blue;
    margin-left: 200px;
}